.modal-overlay{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,.65);

display:flex;

justify-content:center;
align-items:center;

z-index:999;

backdrop-filter:blur(6px);

}

.modal-box{

width:430px;

background:#101827;

padding:30px;

border-radius:20px;

border:1px solid rgba(255,255,255,.08);

box-shadow:0 0 40px rgba(0,0,0,.45);

animation:popup .25s ease;

}

@keyframes popup{

from{

opacity:0;
transform:scale(.9);

}

to{

opacity:1;
transform:scale(1);

}

}

.modal-box h2{

color:white;

margin-bottom:25px;

text-align:center;

}

.modal-box form{

display:flex;

flex-direction:column;

gap:18px;

}

.modal-box input,
.modal-box select{

padding:14px 16px;

border:none;

outline:none;

border-radius:12px;

background:#1b2434;

color:white;

font-size:15px;

}

.modal-box input::placeholder{

color:#94a3b8;

}

.modal-buttons{

display:flex;

justify-content:flex-end;

gap:15px;

margin-top:10px;

}

.cancel-btn{

background:#ef4444;

color:white;

padding:12px 20px;

border:none;

border-radius:10px;

cursor:pointer;

font-weight:600;

}

.cancel-btn:hover{

background:#dc2626;

}

.save-btn{

background:linear-gradient(90deg,#7c3aed,#06b6d4);

color:white;

padding:12px 20px;

border:none;

border-radius:10px;

cursor:pointer;

font-weight:600;

}

.save-btn:hover{

opacity:.9;

}