.stat-card{
    position:relative;

    height:320px;

    border-radius:24px;

    background:rgba(18,27,40,.75);

    backdrop-filter:blur(16px);

    border:1px solid rgba(255,255,255,.08);

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    align-items:center;

    padding:28px 20px;

    overflow:hidden;

    transition:.35s ease;
}

.stat-card:hover{

    transform:translateY(-8px);

    box-shadow:
    0 0 25px rgba(0,255,255,.15);

}

/* ---------- ICON ---------- */

.stat-icon{

    width:72px;

    height:72px;

    min-width:72px;

    min-height:72px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-size:30px;

    margin-bottom:18px;

    flex-shrink:0;
}

.stat-icon svg{

    font-size:30px;

}

/* ---------- TITLE ---------- */

.stat-title{

    color:white;

    font-size:26px;

    font-weight:600;

    text-align:center;

    line-height:1.3;

}

/* ---------- VALUE ---------- */

.stat-value{

    font-size:54px;

    font-weight:800;

    color:white;

}

/* ---------- GRAPH ---------- */

.stat-line{

    width:100%;

    height:45px;

    margin-top:15px;

}

/* ---------- Glass Reflection ---------- */

.stat-card::before{

    content:"";

    position:absolute;

    top:0;

    left:-50%;

    width:120%;

    height:100%;

    background:linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,.08),
        transparent
    );

    transform:skewX(-25deg);

    transition:.7s;

}

.stat-card:hover::before{

    left:130%;

}